{% include "header.html" %}
	
	<div>
		<header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}}); height:570px;">
	</div>
	<hr>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Welcome to my About Me page! I am a dedicated and passionate individual with a strong educational background and professional experience in the field of computer technology and engineering. I completed my Diploma degree in Computer Technology from 2013 to 2016, where I laid the foundation for my technical knowledge and skills. Building upon that, I pursued a Bachelor's degree in Computer Engineering from 2016 to 2020, delving deeper into the intricacies of software development and hardware design.</p>
        <p>My journey into the professional world led me to work as a back-end developer at Smart Way Business Solution, where I honed my expertise in creating robust and efficient web applications. Additionally, I had the privilege of serving as a Development Engineer at ELREHA Elektronische Regelungen GmbH, where I contributed to cutting-edge projects and gained valuable insights into the world of electronic systems.</p>
        <p>My passion for problem-solving, innovation, and continuous learning drives me to stay abreast of the latest technological advancements in the industry. I thrive on challenges and take immense pride in crafting solutions that make a positive impact. As a committed team player, I enjoy collaborating with like-minded individuals to create exceptional products that push the boundaries of technology.</p>
		<p>Beyond my professional endeavors, I also indulge in personal projects that allow me to explore my creativity and broaden my skill set. I am excited about the possibilities that the future holds and look forward to leveraging my knowledge and experiences to contribute meaningfully to the world of technology and engineering.</p>
		<p>Thank you for visiting my page, and I hope you find it informative and inspiring.</p>
	  </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}