{% include "header.html" %}
	
	<div>
	  <!-- Page Header -->
	  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/contact-bg.jpg')}}); height:570px"/>
	</div>
  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Welcome to my Contact Me page! I am delighted to connect with you and discuss any inquiries, projects, or opportunities you may have. Feel free to reach out to me through the following contact details:</p>
		<p><b>Phone Numbers:</b><br>+(962) 778917942<br>+(962) 780714704</p>
		<p><b>Email:</b><br>Qusai_AlHajHasan@hotmail.com</p>
		<p>Whether you have questions about my services, want to collaborate on a project, or simply wish to chat about technology and engineering, I am here and eager to assist. You can reach me via phone or drop me an email, and I promise to respond promptly.</p>
		<p>Thank you for considering reaching out, and I am excited to hear from you soon!</p>
	  </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}