{% include "header.html" %}

	<div>
		<!-- Page Header -->
		<header class="masthead" style="background-image: url({{ url_for('static', filename='img/Portfolio-bg.jpg')}}); height:570px"/>
	</div>
  

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Welcome to my Portfolio, a testament to my unwavering passion for technology and the exciting journey that has shaped my career. I am thrilled to share with you my academic accomplishments, professional experiences, honed skills, and the comprehensive services I offer in the world of computer technology and engineering.</p>
        <p><b>Academic Background:</b><br>My journey into the realm of computer technology and engineering began with pursuing a Diploma degree from 2013 to 2016, where I laid the foundation for my technical knowledge and skills. Building upon that, I went on to achieve a Bachelor's degree in Computer Engineering from 2016 to 2020. These academic pursuits ignited my passion for problem-solving, programming, and innovation, setting me on a path of continuous learning and exploration.</p>
        <p><b>Professional Experience:</b><br>I have had the privilege of working in diverse roles that have enriched my expertise and provided valuable insights into the industry. As a back-end developer at Smart Way Business Solution, I contributed to the creation of robust web applications, honing my skills in software development and problem-solving. Additionally, my time as a Development Engineer at ELREHA Elektroische Regelungen GmbH allowed me to delve into cutting-edge projects and electronic systems, further expanding my knowledge and versatility.</p>
		<p><b>Skills:</b><br>My skill set encompasses a wide array of programming languages, tools, and technologies. Proficient in C++, Python, C#, and Java, I am well-equipped to create efficient and scalable applications. With expertise in HTML5, CSS3, JavaScript, and Bootstrap4, I craft visually appealing and user-friendly web interfaces. Moreover, my understanding of databases like MySQL, PostgreSQL, and PL/SQL enables me to manage and process data effectively.<br>Additionally, I have explored the realms of embedded systems, networking, and version control systems like Git and GitHub. My exposure to DevOps practices, including Docker, CI/CD, and IaC, empowers me to optimize development and deployment processes.</p>
		<p><b>Passion and Services:</b><br>My passion for technology and my commitment to excellence drive me to offer a comprehensive range of services. From custom software development and web design to database management and IoT solutions, I ensure that every project I undertake is tailored to your unique needs and challenges. Whether you are a startup seeking innovative solutions or an established enterprise aiming for optimization, I bring a dedicated and passionate approach to every project.</p>
		<p>At the heart of my portfolio lies the desire to push the boundaries of technology, leveraging my skills and experiences to craft solutions that make a positive impact. I thrive on collaboration and am eager to partner with you to bring your visions to life. Together, we can embark on a transformative journey that harnesses the power of technology to elevate your business.</p>
		<p>Thank you for visiting my portfolio, and I look forward to exploring the endless possibilities of technology with you. If you have any inquiries or projects in mind, feel free to reach out and let's create something remarkable together.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}