{% include "header.html" %}

	<div>
		<!-- Page Header -->
		<header class="masthead" style="background-image: url({{ url_for('static', filename='img/skills-bg.jpg')}}); height:570px"/>
	</div>
  

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Welcome to my Skills page, where I take pride in showcasing a diverse range of expertise that I have cultivated over the years. As a seasoned professional, I have gained proficiency in various programming languages, tools, and methodologies that empower me to tackle complex challenges and deliver high-quality solutions.</p>
        <p>In the realm of programming, I possess a strong command over languages such as C++, Python, C#, and Java, enabling me to develop efficient and robust applications. My understanding of Object-Oriented Programming (OOP) and Data Structures forms a solid foundation for crafting elegant and scalable code. Additionally, I am well-versed in web development technologies like HTML5, CSS3, JavaScript, and Bootstrap4, which enable me to create visually appealing and user-friendly interfaces.</p>
        <p>With a deep-rooted knowledge of Linux distributions, including Debian, OpenSuSE, and Ubuntu, I am adept at navigating various environments and leveraging the power of BASH scripting for automation. Furthermore, my proficiency in handling databases, such as MySQL, PostgreSQL, and PL/SQL, allows me to manage data effectively and implement efficient data-driven solutions.</p>
        <p>Moreover, I have explored the world of embedded systems, working with technologies like PIC Micro C, Arduino C, and Verilog. My expertise in TCP/IP and OSI Layers enables me to develop networking solutions that adhere to industry standards. As an enthusiast of version control systems, I am well-versed in SVN, Git, and GitHub, making collaborative development a seamless experience.</p>
        <p>Continuing my quest for continuous improvement, I have delved into the world of DevOps, adopting tools like Docker, CI/CD, and Infrastructure as Code (IaC) for streamlined development and deployment processes. My understanding of Design Patterns enhances the architecture of my projects, ensuring maintainability and extensibility.</p>
        <p>Furthermore, I have successfully completed several certifications, including CS50's Introduction to Computer Science, Software Design Pattern, Java for Absolute Beginners, DevOps Tutorial, and Git: Become an Expert in Git & GitHub in 4 Hours, which serve as a testament to my commitment to learning and professional growth.</p>
		<p>In summary, my diverse skill set, passion for problem-solving, and eagerness to embrace new technologies enable me to navigate a wide range of projects and contribute meaningfully to the ever-evolving world of technology.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}